body {
  background-color: black !important;
  color: white;
  padding-bottom: 40px;
  height: auto;
  font-family: "Nanum Myeongjo", sans-serif;
}

* {
  font-family: "Nanum Myeongjo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/*searchBooks section*/

.search-section {
  height: 23em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7em;
  background-image: url(background.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.search-section .container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sp-h1 {
  font-style: italic;
  color: rgb(197, 188, 188);
  font-weight: 200;
  text-shadow: 2px 2px 8px #4e4747;
  text-align: center;
}

.sp-form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sp-input {
  min-width: 90%;
  border: 1px solid rgb(151, 142, 142);
  font-style: italic;
  border-right: 0;
  background-color: rgb(178, 168, 168);
  padding: 0.5em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sp-input:focus {
  outline: 0;
  background-color: white;
}

.sp-submit {
  border: 1px solid rgb(151, 142, 142);
  color: black;
  background-color: rgb(151, 142, 142);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.7s;
  padding: 0.5em;
}

.sp-submit:hover {
  background-color: black;
  color: rgb(181, 178, 178);
}

section.search-section a {
  color: rgb(181, 178, 178);
  text-decoration: none;
}

.search-section a:visited {
  color: rgb(181, 178, 178);
  text-decoration: none;
}

/*error message when no book is found*/
section.error-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.error-section div.error-message,
section.error-section div.error-message-noinput {
  background-color: rgb(103, 93, 75);
  color: black;
  width: 50%;
  text-align: center;
  position: fixed;
  top: 0;
  padding: 25px;
  border-radius: 10px;
  display: none;
}

/*cards result*/

#books-result .card {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 69%,
    rgba(64, 51, 51, 1) 97%
  );
  border-radius: 20px;
  height: 15rem;
  transition: 0.5s;
  border: 4px solid rgb(122, 111, 111);
  border-style: double;
}

#books-result .card:hover {
  box-shadow: 5px 10px 18px rgb(61, 58, 58);
}

#books-result .card img {
  width: 100%;
  height: 14.5rem;
  object-fit: cover;
  border-radius: 20px;
}

#books-result .card-body {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  color: rgb(215, 201, 201);
}

#books-result .card-body button,
#books-result .card-body a {
  color: rgb(215, 201, 201);
  outline: none;
}

#books-result .card-body button:hover,
#books-result .card-body a:hover {
  color: rgb(67, 14, 67);
}
#books-result .card-body button.add-to-library {
  border: none;
  background-color: transparent;
  display: block;
  font-size: 30px;
  transition: 0.8s;
}

.add-to-library:hover {
  color: black;
}

/*library section*/
section.library-books {
  margin-top: 40px;
  padding: 0 20px;
}

section.library-books h1 {
  font-family: "Nanum Myeongjo", sans-serif;
  font-size: 2.5rem;
  color: rgb(181, 178, 178);
  text-align: center;
  margin-bottom: 20px;
}

section.library-books h1 {
  overflow: hidden;
  text-align: center;
}

section.library-books h1::before,
section.library-books h1::after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

section.library-books h1::before {
  right: 0.5em;
  margin-left: -50%;
}

section.library-books h1::after {
  left: 0.5em;
  margin-right: -50%;
}

section.library-books h2 {
  text-align: center;
  color: #686262;
  font-size: 2rem;
  margin-bottom: 40px;
}

section.library-books div#favBooksContainer {
  width: 100%;
}

section.library-books div#favBooksContainer .card {
  height: 20rem;
  background-color: transparent;
  color: rgb(181, 175, 175);
}

section.library-books div#favBooksContainer .card-img-top {
  height: 10rem;
  object-fit: contain;
  border-bottom: 1px solid white;
  padding-bottom: 12px;
}

section.library-books div#favBooksContainer .card-img-top:hover {
  cursor: pointer;
}

section.library-books div#favBooksContainer .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0;
}

section.library-books div#favBooksContainer .card-body h5 {
  text-align: center;
}

section.library-books div#favBooksContainer .remove-element {
  color: rgb(121, 116, 116);
  background-color: transparent;
  border: none;
  font-size: 15px;
}

section.library-books div#favBooksContainer .remove-element:hover {
  color: rgb(156, 123, 143);
}

section.library-books div#favBooksContainer .add-review {
  color: white;
  background-color: black;
  border: none;
  font-size: 16px;
}

section.library-books div#favBooksContainer .add-review:hover {
  color: rgb(158, 119, 143);
}

/*modal*/
div.modal .textArea:focus {
  outline: transparent !important;
  box-shadow: 0 0 12px #622963;
}

@media screen and (max-width: 576px) {
  #books-result .card {
    height: auto;
  }

  #books-result .card img {
    height: 10rem;
    width: 100%;
    object-fit: contain;
    margin-top: 10px;
  }

  #books-result .card-body {
    align-items: center;
  }
}
